<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome do Produto</title>
</head>
<body>
    <h1>Nome do Produto</h1>
    <h5>Departamento >> Categoria</h5>
    <img src="../../media/images/012.jpg" width="200">
    <h2>LANÇAMENTO!!!!!</h2>
    <p>Descrição do Produto Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit. Sed lorem felis, ultrices sed fringilla nec, blandit vel ipsum. 
        <br>Sed consequat non magna at iaculis. Cras nec metus ac lorem congue fringilla. <br>Duis varius sed diam quis luctus. Curabitur id orci gravida, tempus lorem id, lobortis ipsum. Nam aliquam,</p>
    <h3>Preço: R$ 10.00</h3>
    <h3>Estoque: 10</h3> 
</body>
</html>